<header id="header">
				<h1 id="logo"><a href="/">UWAA LaSSO <span>CubeSat Project</span></a></h1>
				<nav id="nav">
					<ul>
						<!-- <li><a href="/">Home</a></li> -->
                        <li><a href="/missions.html">Missions</a></li>
                        <li><a href="/people.html">People</a></li>
                        <li class="submenu">
                        	<a href="">Research</a>
                        	<ul>
                        		<li><a href="#">Constrained Attitude Control</a></li>
                        		<li><a href="#">Electric Propulsion</a></li>
                        		<li><a href="#">Publications</a></li>
                        	</ul>
                        </li>
                        <li><a href="#">Sponsors</a></li>
                        <li><a href="#">Contact</a></li>
<!-- 						<li class="submenu">
							<a href="">Layouts</a>
							<ul>
								<li><a href="/left-sidebar.html">Left Sidebar</a></li>
								<li><a href="/right-sidebar.html">Right Sidebar</a></li>
								<li><a href="/no-sidebar.html">No Sidebar</a></li>
								<li><a href="/contact.html">Contact</a></li>
								<li class="submenu">
									<a href="">Submenu</a>
									<ul>
										<li><a href="#">Dolore Sed</a></li>
										<li><a href="#">Consequat</a></li>
										<li><a href="#">Lorem Magna</a></li>
										<li><a href="#">Sed Magna</a></li>
										<li><a href="#">Ipsum Nisl</a></li>
									</ul>
								</li>
							</ul>
						</li> -->
					</ul>
				</nav>
			</header>